.term-list {
  .link-list {
    margin-top: 0;
  }

  .link-list hr {
    margin: rem(60) 0 0 calc(-1 * (50vw - 50%));
    width: 100vw;
  }

  .link-list hr + h2 {
    margin-top: rem(48);
  }

  .link-list li:not([class]) + .link-list__item {
    margin-top: rem(48);
  }
}

main {
  position: relative;
}

.notification {
  margin-bottom: $gutter;
  position: sticky;
  top: $gutter;
  z-index: 1;
}

.remove-all-favorites,
.remove-favorite {
  --color: var(--red-500);
  --hover-color: var(--red-400);
  --active-color: var(--black);

  transition: color 0.3s;
}

.remove-all {
  text-align: right;
}

.remove-all-favorites {
  display: inline-block;
  margin-right: rem(-8);
  margin-left: 0;
}

.remove-favorite {
  float: right;
  margin: 0 rem(-8) 0 0;
}

.page.page-template-page-favorites .card__wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3rem;
  gap: rem(20);
}

@include breakpoint-up(sm) {
  .page.page-template-page-favorites {
    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @supports (display: $grid) {
        display: grid;
        gap: rem(30);
        grid-template-columns: 100%;
      }
    }

    .cards .card__wrapper {
      margin-bottom: rem(30);
      width: 100%;

      @supports (display: $grid) {
        margin-bottom: 0;
      }
    }

    .card:nth-child(even) {
      margin-left: 0;
    }
  }
}

@include breakpoint-up(md) {
  .page.page-template-page-favorites {
    .cards {
      @supports (display: $grid) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .cards .card__wrapper {
      width: calc(50% - #{rem(30)} / 2);

      @supports (display: $grid) {
        width: 100%;
      }
    }

    .card:nth-child(even) {
      margin-left: rem(30);

      @supports (display: $grid) {
        margin-left: 0;
      }
    }

    .cards .card__wrapper + .card__wrapper {
      margin-top: 0;
    }
  }
}

@include breakpoint-up(lg) {
  .page.page-template-page-favorites main {
    @include grid-column-span(8, 12, 3);
  }
}

@include breakpoint-up(xl) {
  .page.page-template-page-favorites main {
    @include grid-column-span(8, 16, 4);
  }
}
