.home .banner-pattern {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: rem(500);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: -2;
}

.page.home .page-header {
  padding-top: 0;
  margin-top: rem(165);

  &::before {
    background: transparentize($blue-500, 0.95);
  }
}

@include breakpoint-up(sm) {
  .home .banner-pattern {
    height: rem(550);
  }

  .home .page-header {
    margin-top: rem(335);
  }
}

.term-list {
  .link-list {
    margin-top: 0;
  }

  .link-list hr {
    margin: rem(60) 0 0 calc(-1 * (50vw - 50%));
    width: 100vw;
  }

  .link-list hr + h2 {
    margin-top: rem(48);
  }

  .link-list li:not([class]) + .link-list__item {
    margin-top: rem(48);
  }
}

#favorites + .no-favorites {
  display: none;
}

#saved-searches:not(:empty) + * {
  display: none;
}

#saved-searches {
  margin-top: rem(20);
}

.saved-search {
  position: relative;
  border-top: solid 1px var(--dark-mint-500);
  padding-top: rem(24);

  [aria-expanded="false"] {
    margin-bottom: 0;
  }

  .align-right {
    position: absolute;
    bottom: rem(20);
    right: 0;
  }
}

.search-results .notification {
  margin-top: rem(30);
}

@include breakpoint-up(sm) {
  .search-results .notification {
    @include grid-column-span(8, 8);
  }
}

@include breakpoint-up(md) {
  .search-results .notification {
    @include grid-column-span(6, 8);
  }
}

@include breakpoint-up(lg) {
  .search-results .notification {
    @include grid-column-span(8, 12, 5);

    margin-top: rem(30);
  }

  .notification + .filter-wrapper {
    grid-row: 3 / 6;
  }

  .notification ~ .sort-wrapper,
  .notification ~ .save-wrapper {
    grid-row-start: 3;
  }
}

@include breakpoint-up(xl) {
  .search-results .notification {
    @include grid-column-span(8, 16, 5);
  }
}
