.home .page-header {
  @include full-width-background($blue-500);

  color: $off-white;
  position: relative;
}

.home__search-bar {
  @include full-width-background($blue-400);

  position: relative;

  .search-form {
    position: relative;
    top: rem(-25);
  }
}

.home__browse {
  @include full-width-background($blue-400);

  padding-top: rem(30);
  padding-bottom: rem(40);
  position: relative;

  .link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;

    &__item {
      width: calc(25% - (#{$gutter} * 3 / 4));
    }
  }

  .wp-block-button {
    margin-top: rem(36);

    &__link {
      margin: 0 auto;
      width: calc(50% - (#{rem(30)} / 2));
      max-width: 100%;
    }
  }
}

.term-list {
  .link-list {
    margin-top: 0;
  }

  .link-list hr {
    margin: rem(60) 0 0 calc(-1 * (50vw - 50%));
    width: 100vw;
  }

  .link-list hr + h2 {
    margin-top: rem(48);
  }

  .link-list li:not([class]) + .link-list__item {
    margin-top: rem(48);
  }
}
